/****** ALL SELECTOR ******/
*,
::before,
::after,
h1,h2,h3,h4,h5,h6,p,
span
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****** END OF ALL SELECTOR ******/

/****** Custom Scrollbars ******/
::-webkit-scrollbar {
    width:10px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #f90; 
    border-radius: var(--border-radius-light);
}
::-webkit-scrollbar-thumb:hover {
    background: #f80; 
}
/****** END OF Custom Scrollbars ******/
 
/****** HTML ******/
html{
    scroll-behavior: smooth;
}
/****** END OF HTML ******/

/****** BODY ******/
body{
    color: var(--color-light);
    background-color: var(--color-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    overflow: hidden;
    overflow-y: auto;
    /* line-height: .5px;
    letter-spacing: 1px;
    word-break: normal;
    line-break: normal; */
}
/****** BODY ******/

/****** ROOT ******/
:root{
    --color-dark :#000;
    --color-light:#fff;
    --span-dark:#f90;

    --bg-color-dark :#000;
    --bg-color-light:#fff;

    --hover-color-dark :#f90;
    --hover-color-light:#fff;
    
    --padding-tb-min: 1.5rem;
    --padding-rl-min: 1.5rem;
    --margin-tb-min: 1.5rem;
    --margin-rl-min: 1.5rem;

    --padding-tb: 3rem;
    --padding-rl: 3rem;
    --margin-tb : 3rem;
    --margin-rl : 3rem;

    --border-radius-light: 5px ;
    --border-radius-heavy: 10px ;
    --border-radius-full : 30px ;
}
/****** END OF ROOT ******/

/****** MYBTN ******/
.mybtn{
   padding: 8px 12px;
   color: var(--color-light);
   background-color: var(--color-dark);
   border-radius: var(--border-radius-light);
}
/****** END OF MYBTN ******/

/****** SPAN/ANCHOR ******/
/* span */
.dark{
    color: var(--span-dark);
    font-family: 'Ubuntu', sans-serif;
}
::selection{
    background-color: var(--span-dark);
    color: var(--color-dark);
}
/* anchor */
a,a:hover{
    text-decoration: none;
    color: var(--color-light);
}
/****** END OF SPAN ******/
.col-space {
    margin: 2rem 0rem;
}
.col-no-space {
    margin: 0;
    padding: 0;
}/****** PADDING/MARGIN ******/
.padding-tb{
    padding:  var(--padding-tb) 0 ;

}
.padding-rl{
    padding: 0 var(--padding-rl) ;

}
.margin-tb{
    margin: var(--margin-tb) 0;

}
.margin-rl{
    margin: 0 var(--padding-tb) ;

}
/****** END OF PADDING/MARGIN ******/
img{
    object-fit: cover;
}

/********** SCROLL TOP **********/
.scroll{
    visibility: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    z-index: 1000;
    text-align: center;
    border: .5px solid var(--color-dark);
    border-radius: var(--border-radius-full);
    background-color: var(--span-dark);
    transition: all .300s ease-in-out;
    animation: rise 3s infinite;
}
@keyframes rise {
    0%{
      transform: translate(0px,-10px);     
    }
    25%{
        transform: translate(0px,10px);     
    }
    50%{
        transform: translate(0px,-10px);     
    }
    75%{
        transform: translate(0px,10px);     
    }
    100%{
        transform: translate(0px,-10px);
    }
}
.scroll::after {
    content: "⌃";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0%,20%);
    font-size: 3em;
    line-height: 50px;
    color: var(--color-dark);
}
.scroll.show {
    opacity: 1;
    visibility: visible;
}
.scroll:hover {
    cursor: pointer;
    background-color: var(--hover-color-dark);
}
/********** END OF SCROLL TOP **********/

/*********** PRE LOADER ANIMATION ***********/
.loader{
    position: fixed;
    z-index: 999999;
    background: var(--bg-color-dark);
    width: 100%;
    height: 100%;
    
}
.pre-loader {
    font-size: 40px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 40%;
    right: 0;
    bottom: 0;
}
.pre-loader h3{
    font-size: 5rem;
    color:var(--span-dark);
}
.pre-loader  {
    -webkit-animation: pre-loader 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
            animation: pre-loader 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
  }
  /* ----------------------------------------------
 * Generated by Animista on 2021-10-30 16:41:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pre-loader
 * ----------------------------------------
 */
  @keyframes pre-loader {
    0% {
      transform: translateZ(100px);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateZ(100px);
      opacity: 1;
    }
  }
/*********** END OF PRE LOADER ANIMATION ***********/


/************ CUSTOM CSS  ************/
/************ HEADER/NAVBAR  ************/
/* Fixed Navbar OnScroll */
.hm-navbar.fixed{
    width: 100%;
    /* background-color: var(--span-dark);
    color: var(--color-dark); */
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--span-dark);
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.hm-navbar.hm-navbar.fixed .hm-navbar-inner .navbar .navbar-brand img {
    width: 40px;
    background-color: #f90;
    border-radius: var(--border-radius-light);
}
.hm-navbar.fixed .hm-navbar-inner .my-bg .nav-link:hover{
    color: var(--color-dark);
    border-bottom:1px solid var(--color-dark) ;
    opacity: .9;
}
/*  End of Fixed Navbar OnScroll */
.hm-navbar{
   width: 100%;
   /* background-color: var(--span-dark); */

}
/* @keyframes new {
	0% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0px);
	}
} */
.hm-navbar .hm-navbar-inner{
    width: 100%;
}
.hm-navbar-inner .navbar .navbar-brand img{
    width: 40px;
    background-color: var(--bg-color-light);
    border-radius: var(--border-radius-light) transparent;
    
}
.hm-navbar-inner .my-bg .nav-link{
    color: var(--color-light);
    border-bottom:1px solid transparent ;
}
.hm-navbar-inner .my-bg .nav-link:hover{
    color: var(--hover-color-dark);
    border-bottom:1px solid #f90 ;
    opacity: .9;
}
.hm-navbar-inner .my-bg
#navbarDropdown:focus{
    color: var(--color-light) !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    position: absolute;
    color: black;
    background-color: #f90;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #f90;
    background-color: black;
}
/************ END OF HEADER/NAVBAR  ************/

/************ DISPLAY  ************/
.display{
    width: 100%;
    /* padding: var(--padding-tb) var(--padding-rl); */
    padding: 10px 0px;
}
.display-inner{
    width: 100%;    
}
.display-title{
    width: 100%;
    text-align: center;
}
.col-top-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #f90;
}
.col-top:hover img {
    opacity: 1;
}
.col-top{
    width: 100%;
    position: relative;
    transition: all .3s ease-in-out;
}
.dis-top-img,
.dis-top-text{
    width: 100%;
    transition: all 3s ease-in-out;

}
.dis-top-img img{
    width: 100%;
    opacity: 0.7;
    transition: all .3s ease-in-out;
}
.dis-top-text {
    position: absolute;
    transform:translate(0%,-90%) ;
    padding: var(--padding-tb-min) var(--padding-rl-min);
}

/* home page content */
.dis-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-tb);
}
.dis-content .dis-blog{
    width: 70%;
}
.dis-content .dis-pop{
    width: 30%;
    padding: 0px var(--padding-rl-min);
}
.display-inner .blog-col{
    width: 100%;
    height: 100%;
}
.blog-col .blog-img{
    width: 100%;
    position: relative;
}
.blog-col .blog-img span {
    visibility: visible;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000;
    background: #f90;
    font-weight: 400;
    width: max-content;
    height: 30px;
    text-align: center;
    transition: all 1ms ease-out;
}
.blog-col .blog-img img{
    width: 100%;
}
.blog-col .blog-text{
    padding: var(--padding-tb-min) 0;
    width: 100%;
    text-align: left;
}

/* POP Posts */
.pop-title{
    text-align: center;
}
.pop-col{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:var(--bg-color-dark);
    color: var(--color-light);
    border: .2px solid var(--color-dark);
    text-decoration: none;
}
.pop-img{
    width: 130px;
    height: 100px;
} 
.pop-img img{
    width: 100%;
    height: 100%;
} 
.dis-pop .pop-text{
    width: 70%;
    height: 100%;
    padding-left: 10px;
    font-size: 15px;
    color: var(--color-light);
}
.pop-text .pop-link{
    color: var(--span-dark);
    font-size: 15px;
}
/************ END OF DISPLAY  ************/

/************ INFO  ************/
.info{
    width: 100%;
}
.info-inner{
    width: 100%;
}
.info-title{
    width: 100%;
    text-align: center;
    padding: var(--padding-tb-min) 0;
}
.slider{
    width: 100%;
}
.slider-content{
    width: 100%;
    position: relative;
    text-decoration: none;
    padding: 0 var(--padding-rl-min);
}
.slider-content .slider-img,
.slider-img img{
    width: 100%;
    opacity: 0.60;
}
.slider-content .slider-text{
    width: 100%;
    transform: translate(0%,-100%);
    text-align: center;
}
/************ END OF INFO  ************/

/************ ART  ************/
.art{
    width: 100%;
    height: 100%;
}
.art-inner{
    width: 100%;
    height: 100%;
}
.col-art{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.col-art .art-img{
    width: 50%;
    height: 100%;
}
.col-art .art-img img{
    width: 100%;
    box-shadow: 15px 10px 0px 0px #f90;
}
.col-art .art-text{
    width: 50%;
    height: 100%;
    padding: 0 var(--padding-rl);
}
.art-text a{
    font-size: 10px;
    text-decoration: none;
}
.art-text a:hover{
    color: #f90;
    text-decoration: underline;
}
.art-text .art-header{
    width:100%  ;
    margin: 0 auto;
    padding: var(--padding-tb-min);
    border-bottom:1px solid var(--span-dark) ;
   text-align: center;
}
.art-text p{
    padding: var(--margin-tb-min) 0;
}
.art-header .fa-anim{
    padding: var(--margin-tb-min) 0;
}
/************ END OF ART  ************/

/************ DISPLAY  ************/
/************ END OF DISPLAY  ************/

/************ DISPLAY  ************/
/************ END OF DISPLAY  ************/

/************ FOOTER  ************/
.footer{
    width: 100%;
    height: 100%;
}
.footer-inner{
    width: 100%;
    height: 100%;
}
.col-foot{
    width: 100%;
    height: 100%;
    text-align: center;
}
.footer .foot-img{
    width: 100%;
    height: 100px;
}
.footer .foot-img img{
    width: 80px;
    background-color: #f90;
}
.footer .foot-text{
    width: 100%;
    padding: var(--margin-tb-min) 0;
}
.footer .foot-icon{
    width: 100%;
    border-bottom: 1px solid #f90;
}
.footer .foot-icon li{
    list-style: none;
    display: inline-block;
}
.footer .foot-icon a{
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 30px;
    padding: 15px;
    transition: all .5ms ease-in-out;
}
.footer .foot-icon a:hover{
    color: #f90;
}

/************ END OF FOOTER  ************/